.aside {
    background: #EDF2F4;
    border: solid black 4px;
    height: 100vh;
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .aside-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: baseline;
  }

  .aside-item {
    height: 30px;
    list-style: none;
    position: absolute;
  }

  .aside li {
      position: relative;
      margin: 8px 0;
      list-style: none;
  }

  .aside-item:hover {
    background-color: #EF233C;
    color: #08080C;
    border-radius: 0;
  }

  .aside-links {
      list-style: none;
      color: black;
      text-decoration: none;
  }



