.cart-dropdown {
  position: absolute;
  width: 240px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 3px 3px 8px 0px rgb(0 0 0 / 20%);
  border-radius: 10px;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
}

.cart-items {
  height: 240px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.create-outfit-button {
  margin-top: auto;
}