.outfit-item-image {
  width: 85px;
  border-radius: 10px;
}

.outfit-item-name {
  font-size: 20px;
  margin-left: 7px;
}

.outfit-item-color {
  font-size: 10px;
}

.outfit-item-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.cart-outfit-item-info-container {
  flex-grow: 1;
  align-self: center;
}

.remove-item-card {
  align-self: center;
  background-color: #EF233C;
  cursor: pointer;
  margin: 6px;
}

