.outfit-item-image {
  width: 5vh;
  border-radius: 10px;
}

.outfit-item-name {
  font-size: 14px;
}

.outfit-item-color {
  font-size: 10px;
}

.outfit-item-container {
  display: flex;
  justify-content: flex-end;
}

.outfit-item-info-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

.remove-item-card {
  align-self: flex-end;
  background-color: #EF233C;
}

